{% extends 'base.html.twig' %}

{% block body %}
    <h1>Groupeartiste</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ groupeArtiste.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ groupeArtiste.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ groupeArtiste.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('groupe_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('groupe_edit', { 'id': groupeArtiste.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
