{% extends 'base.html.twig' %}

{% block body %}
    <h1>Salleart</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ salleArt.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ salleArt.nom }}</td>
            </tr>
            <tr>
                <th>Capaciter</th>
                <td>{{ salleArt.capaciter }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ salleArt.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('salleart_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('salleart_edit', { 'id': salleArt.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
